{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Faculty Profile</h1>
    <div class="form-group">
        <label class="control-label col-sm-2" for="id_username">
            Profile Picture:
        </label>
        <div class="col-sm-10">
            <img src="{{ faculty.profile }}" width="250">
        </div>
        <label class="control-label col-sm-2" for="id_username">
            Firstname:
        </label>
        <div class="col-sm-10">
            <span class="form-control">{{ faculty.user.first_name }}</span>
        </div>
        <label class="control-label col-sm-2" for="id_username">
            Lastname:
        </label>
        <div class="col-sm-10">
            <span class="form-control">{{ user.last_name }}</span>
        </div>
        <label class="control-label col-sm-2" for="id_username">
            Email:
        </label>
        <div class="col-sm-10">
            <span class="form-control">{{ faculty.user.email }}</span>
        </div>
        <label class="control-label col-sm-2" for="id_username">
            Department:
        </label>
        <div class="col-sm-10">
            <span class="form-control">{{ faculty.dept }}</span>
        </div>
        <label class="control-label col-sm-2" for="id_username">
            Designation:
        </label>
        <div class="col-sm-10">
            <span class="form-control">{{ faculty.desig }}</span>
        </div>
        <label class="control-label col-sm-2" for="id_username">
            Highest Degree:
        </label>
        <div class="col-sm-10">
            <span class="form-control">{{ faculty.degree }}</span>
        </div>

{% endblock %}