.main-win{
    margin 0 0;
    padding: 0 0;
    width: 100%;
    height: 100%;
    background-color: #ffd868;
  }
  
  .forma{
    display: inline-block;
    margin: 0 auto;
    font-family: 'Libre Franklin', sans-serif;
    background-color: #f3d1f4;
    border-radius: 20px;
    position: absolute;	
  }